*{
    margin: 5px;
}

body{

font-family: monospace;
}

h1{
    padding-top: 5%;
}

.input-text{

    display: block;
    padding: 5px;
    border-radius: 1%;
    background-color: bisque;
}

.content{
    border-radius: 1%;
    background-color: bisque;
}



#Category-Select{
    display: block;
}

.click{
    background-color: blue;
    color: aqua;
}

.prev{
    margin: 10;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.prev:hover{
    background-color: lightseagreen;
}